<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>001亲眼看见你</title>
    <link rel="stylesheet" href="../play.css">
</head>
<body>
    <div><a class="btn" href="javascript:history.back();">&lt;返回</a></div>
    <div class="audio_box"><audio id="song_ctl" class="audio_ctl" src="https://mp3.9ku.com/mp3/527/526668.mp3" controls=controls></audio></div>
    <div class="img_box"><img id="song_img" class="img_ctl" src="http://file.zanmeishi.com/store/2013/04/17/516e24cb00769e04100000ca.jpg"/></div>
</body>
</html>
