<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>008再次将我更新</title>
    <link rel="stylesheet" href="../play.css">
</head>
<body>
    <div><a class="btn" href="javascript:history.back();">&lt;返回</a></div>
    <div class="audio_box"><audio id="song_ctl" class="audio_ctl" src="https://mp3.9ku.com/mp3/467/466052.mp3" controls=controls></audio></div>
    <div class="img_box"><img id="song_img" class="img_ctl" src="https://file.zanmeishige.com/store/2013/05/07/5188814700769ec82b000031.png"/></div>
</body>
</html>
