<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>012你是我永远的福乐</title>
    <link rel="stylesheet" href="../play.css">
</head>
<body>
    <div><a class="btn" href="javascript:history.back();">&lt;返回</a></div>
    <div class="img_box"><img id="song_img" class="img_ctl" src="http://file.zanmeishi.com/store/2016/03/04/56d8d6178362dc9a5e8b48f0.gif"/></div>
</body>
</html>
